# Lists

In [ ]:
s=[] # empty list

In [ ]:
s=[1,1,1] # sequnce data

In [ ]:
s

In [ ]:
my_str=["This is the first list"]

In [ ]:
my_str

In [ ]:
my_str="This is the first list"

In [ ]:
my_str

In [ ]:
my_str.split(" ")

In [ ]:
s=[1,2,3] # list

In [ ]:
s[1]=100 #changing the indexes

In [ ]:
s

In [ ]:
x=(0,1,2,3) # tuple

In [ ]:
x

In [ ]:
x[3]=12 #can not change the values of tuple

In [ ]:
list() #it is a function, which is used to convert str or anything into list

In [ ]:
list("cat")

In [ ]:
q=["saad","ahmad"]

In [ ]:
q

In [ ]:
small_birds=['hummingbird','finch']
extinct_birds=['dodo','passenger pigeon','Norwegian Blue']
carol_birds=[3, "French hens", 2, 'turtledoves']
all_birds=[small_birds,extinct_birds,"macow",carol_birds]

In [ ]:
all_birds

In [ ]:
for i in all_birds:                 # loop use to repeat the each element of the list. 
    if (type(i))==list:
        for j in i:
            print(j)
    else:
        print(i)

In [ ]:
all_birds[0]

In [ ]:
all_birds[1]

In [ ]:
all_birds[-1]

In [ ]:
all_birds[2]

In [ ]:
all_birds[-2]

In [ ]:
all_birds[3]

In [ ]:
all_birds[-3]

In [ ]:
all_birds[0][1]

In [ ]:
all_birds[0][1]

In [ ]:
for i in range (len(all_birds),0,-1): # list in reverse form
    print(all_birds[i-1])

In [ ]:
all_birds[::2] #again jumping

In [ ]:
hi=[1,2,3]

In [ ]:
hi.append(4) # adding a value in the list, but it will add the value in the last

In [ ]:
hi

In [ ]:
del hi[2]# del is a function with is used to delete the list or specific index iteam

In [ ]:
hi

In [ ]:
hi2=[5,6,7,8,9]

In [ ]:
hi+=hi2 #adding the list 2 in list 1

In [ ]:
hi

In [ ]:
hi3=[10,11,12]

In [ ]:
hi.extend(hi3)

In [ ]:
hi

In [ ]:
hi.count(10) # count function is use to count the number of alteration or a specific number in the list

In [ ]:
pairs=[[1,2],[1,3,7],[2,5]]

for pair in pairs:
    print(pair)
    count=0
    for value in pair:
        print(value)
        count += 1
    print("count",count)

In [ ]:
nums=[1,2,3,4,5,6,7,8,9,10]
evens=[]
odds=[]
for i in nums:
    if i%2==0:
        evens.append(i)
    else:
        odds.append(i)
print("Evens:",evens)
print("Odds:",odds)

In [ ]:
a=[[1,2],[3,4]]
for i in range(2):
    for j in range(2):
        print (a[i][j])

In [ ]:
a=[[1,2],[3,4]]
for i in a:
    for j in i:
        print(j)

In [ ]:
len([1,2])

In [ ]:
a=[[1,2],[3,4]]
size = len(a)
i=0
while i<size:
    innerListSize = len(a[i])
    j=0
    while j < innerListSize:
        print(a[i][j])
        j+=1
    i+=1

In [ ]:
digits=[d for d in range(0,10+1)]
print(digits)

In [ ]:
even=[i for i in digits if i%2==0]
print(even)

In [ ]:
odd=[i for i in digits if i%2!=0]
print(odd)

In [ ]:
obj=["Even" if i%2==0 else "Odd" for i  in digits] # lamda function
print(obj)

In [ ]:
s = "I am the Best.....!"
sp_char = ["~","!","@","$","%"]
sp_count = 0
for c in s:
      if c in sp_char:
          sp_count += 1
print(sp_count)