# Strings

In [1]:
'sa''ad'

'saad'

In [2]:
"Hi how are "'you?'

'Hi how are you?'

In [3]:
"This is practice for ""combining two strings ""into one string"

'This is practice for combining two strings into one string'

In [4]:
a='sa'

In [5]:
'ad'

'ad'

In [6]:
a+ 'ad'

'saad'

In [7]:
b='I am '

In [8]:
c='the best'

In [9]:
b+c

'I am the best'

In [10]:
len('I am the best')

13

In [11]:
f='I am the best'

In [12]:
f[3]

'm'

In [13]:
f[9]

'b'

In [14]:
z=10
def s():
    
    z=4
    x=z*z
    return x,"Hi",3,4
a=s()

In [15]:
a

(16, 'Hi', 3, 4)

In [16]:
a[3]

4

In [18]:
def plus( a,b ):
    add=a+b
    return (add,a,b);
# Now you can call function
Sum,a,b=plus(3,4)
print("Sum of",a, "&",b,"is:",Sum)

Sum of 3 & 4 is: 7

In [19]:
z=10
print('Hello!')
def s():
    z=5
    return("Saad",5,z)
print('Ftn Def')
print("calling ftn")
a=s()
print(a)
print('program ended')

Hello!
Ftn Def
calling ftn
('Saad', 5, 5)
program ended

In [20]:
def plus ( *arg ):
    "sum"
    return sum (arg) ;
# Now you can call function
print (plus(1,4,5))

10

In [21]:
def f(*x):
    'Add'
    return sum(x) ;
print(f(1,4,5,7))

17

In [22]:
3* ' Saad ' + ' Ahmad '

' Saad  Saad  Saad  Ahmad '

In [23]:
'Sa' 'ad'

'Saad'

In [24]:
'Sa''ad'

'Saad'

In [25]:
text=('Put several strings within parantheses '
     'to have them joined together.')

In [26]:
text

'Put several strings within parantheses to have them joined together.'

In [27]:
a='sa'
a 'ad'

SyntaxError: invalid syntax (<ipython-input-27-2e151f644ba4>, line 2)

In [28]:
a='Sa'
a+'ad'

'Saad'

In [29]:
x=input()

 12

In [30]:
x

'12'

In [31]:
type(x)

str

In [32]:
x=int(x)

In [33]:
x

12

In [34]:
type(x)

int

In [35]:
v=float(x)

In [36]:
v

12.0

In [37]:
type(v)

float

In [38]:
x

12

In [39]:
1/2

0.5

In [40]:
1//2

0

In [41]:
a=input()
b=input()

 1
 2

In [42]:
a

'1'

In [43]:
def testing(a,b):
    return a+b,a-b,a*b,a/b,a//b,a%b
testing(a,b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [44]:
x=True
y=False

In [45]:
x and y

False

In [46]:
x or y

True

In [47]:
not x

False

In [48]:
2>3

False

In [49]:
2<3

True

In [50]:
3<=3

True

In [51]:
3=>3

SyntaxError: invalid syntax (<ipython-input-51-0e669da6df35>, line 1)

In [52]:
3!=4

True

In [53]:
3!=3

False

In [54]:
2==2

True

In [55]:
"Saad"=="Saad"

True

In [56]:
"Saad">="saad"

False

In [57]:
"ssssssssss">"saad"

True

In [66]:
x=5

In [67]:
x

5

In [68]:
x+=5# x=x+5 => can be written as x+=5

In [69]:
x

10

In [70]:
x-=5# x=x-5 => can be written as x-=5

In [65]:
x

0

In [71]:
x*=5# x=x*5 => can be written as x*=5

In [72]:
x

25

In [73]:
x/=5# x=x/5 => can be written as x/=5

In [74]:
x

5.0

In [75]:
x%=5# x=x%5 => can be written as x%=5

In [76]:
x

0.0

In [77]:
x//=5# x=x//5 => can be written as x//=5

In [78]:
x

0.0

In [79]:
x**=5# x=x**5 or x=pow(x,2) => can be written as x**=5

In [80]:
x

0.0